@font-face {
    font-family: "PTSans-Bold";
    font-weight: bold;
    src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: "PTSans-Regular";
    font-weight: normal;
    src: url("../fonts/PTSans-Regular.ttf");
}